In [1]:
import json
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from collections import Counter
import os
import tqdm
import datetime



json_path = "../taxonomy.json"
with open(json_path, "r") as json_file:
    json_dicts= json.load(json_file)
json_dict = {
    json_dict["common_name"]: json_dict["id"]
    for json_dict in json_dicts["taxonomy"]}

rev_json_dict = {json_dict[k]: k for k in json_dict.keys()}
len(rev_json_dict)

def maximize_value(dictionary):
    # written with the help of Brian :)
    return max((v, k) for (k, v) in dictionary.items())[1]

In [2]:
# List all CSV files by name
csv_dir = "/Users/phinchosherpa/Desktop/nyu/BirdVox-300h_csv-annotations/"
csv_names = os.listdir(csv_dir)
        
species_dict=[]
for keys in rev_json_dict:
    species_dict.append(keys)
name=[]

for keys in json_dict:
    name.append(keys) 
    
out_df = pd.DataFrame(columns=["taxon_id", "taxon_name", "csv_name", "minute", "minute_count"])
    
    
for i in tqdm.tqdm(range(22)):
    csv_counts = {}
    for csv_name in csv_names:
        csv_path = os.path.join(csv_dir, csv_name)
        df = pd.read_csv(csv_path)
        booleans = df["Taxonomy Code"].str.startswith(species_dict[i])
        csv_count = sum(booleans)
        csv_counts[csv_name] = csv_count
    best_csv_name = maximize_value(csv_counts)
    best_csv_path = os.path.join(csv_dir, best_csv_name)
    taxon_df = pd.read_csv(best_csv_path)
    taxon_minutes = (taxon_df["Time (s)"]//60).astype("int")
    best_minute, minute_count = Counter(taxon_minutes).most_common()[0]
    row = {
        "taxon_id": species_dict[i],
        "taxon_name": name[i],
        "csv_name": best_csv_name,
        "minute": best_minute,
        "minute_count": minute_count
    }
    out_df = out_df.append(row, ignore_index=True)
        
    
out_df.to_csv("BirdVox-22min.csv")

100%|██████████| 22/22 [00:08<00:00,  2.56it/s]

In [4]:
out_df

,taxon_id,taxon_name,csv_name,minute,minute_count
0,1,Passerine,20150920233602_6_23_58_fold-unit05_utc-10h_wee...,109,41
1,2,Pelecaniforme,unit10_2015-09-27_dawn.csv,69,5
2,1.1,American sparrow,20151014225503_1_04_56_fold-unit05_utc-22h_wee...,28,43
3,1.2,Cardinal,20150920233602_6_23_58_fold-unit05_utc-10h_wee...,109,41
4,1.3,Thrush,20150910235403_6_05_57_fold-unit07_utc-10h_wee...,0,29
5,1.4,Warbler,20150925023412_1_25_48_fold-unit-01-10_utc-08h...,0,35
6,2.1,Heron,unit10_2015-09-27_dawn.csv,69,5
7,1.4.1,American redstart,20150827002103_5_38_57_fold-unit07_utc-10h_wee...,72,7
8,1.1.1,American tree sparrow,20151108222202_5_37_58_fold-unit08_utc-08h_wee...,101,11
9,1.4.2,Bay-breasted warbler,20150902001106_1_48_54_fold-unit03_utc-06h_wee...,45,12
10,1.4.3,Black-throated blue warbler,20150925023412_1_25_48_fold-unit-01-10_utc-08h...,0,35
11,1.4.4,Canada warbler,20150910235403_6_05_57_fold-unit07_utc-10h_wee...,0,29
12,1.1.2,Chipping sparrow,20151014225503_1_04_56_fold-unit05_utc-22h_wee...,28,43
13,1.4.5,Common yellowthroat,20150925023412_1_25_48_fold-unit-01-10_utc-08h...,0,35
14,1.3.1,Gray-cheeked thrush,20150920233602_6_23_58_fold-unit05_utc-10h_wee...,109,41
15,2.1.1,Green heron,unit10_2015-09-27_dawn.csv,69,5
16,1.4.6,Mourning warbler,unit03_2015-09-04_dawn.csv,108,42
17,1.4.7,Ovenbird,unit03_2015-09-04_dawn.csv,108,42
18,1.2.1,Rose-breasted grosbeak,20150920233602_6_23_58_fold-unit05_utc-10h_wee...,109,41
19,1.1.3,Savannah sparrow,20151008230503_2_54_57_fold-unit08_utc-06h_wee...,19,19
20,1.3.2,Swainson's thrush,unit02_2015-09-26_dawn.csv,117,49
21,1.1.4,White-throated sparrow,20151014225503_1_04_56_fold-unit05_utc-22h_wee...,28,43

In [3]:
csv_path = "/Users/phinchosherpa/Desktop/nyu/notebooks/BirdVox-22min.csv"
taxon_df = pd.read_csv(csv_path)
taxon_df.head()

,Unnamed: 0,taxon_id,taxon_name,csv_name,minute,minute_count
0,0,1,Passerine,20150920233602_6_23_58_fold-unit05_utc-10h_wee...,109,41
1,1,2,Pelecaniforme,unit10_2015-09-27_dawn.csv,69,5
2,2,1.1,American sparrow,20151014225503_1_04_56_fold-unit05_utc-22h_wee...,28,43
3,3,1.2,Cardinal,20150920233602_6_23_58_fold-unit05_utc-10h_wee...,109,41
4,4,1.3,Thrush,20150910235403_6_05_57_fold-unit07_utc-10h_wee...,0,29

In [76]:
csv_dir = "/Users/phinchosherpa/Desktop/nyu/BirdVox-300h_csv-annotations/"
csv_names = df["csv_name"]
import csv
for name in csv_names:   
    data_dir = '/Users/phinchosherpa/Desktop/nyu/BirdVox-300h_csv-annotations/'
   
    df2=pd.read_csv(csv_path)
    df2.head()

In [133]:
for _, taxon_row in taxon_df.iterrows():
    best_csv_name = taxon_row["csv_name"]
    best_minute = taxon_row["minute"]
    best_csv_path = os.path.join(data_dir,str(best_csv_name))
    best_df = pd.read_csv(best_csv_path)
    start_time=60*best_minute
    end_time=start_time+60
    
    time_mask = (best_df['Time (s)'] > start_time) & (best_df['Time (s)'] < end_time)
    masked_df = best_df[time_mask].copy()
    masked_df["Time (s)"] = masked_df["Time (s)"] - 60*best_minute
#     print(best_df['Time (s)'][time_mask])
    #annotation = best_df['Time (s)'][time_mask]-60*best_minute

In [151]:
output_dir = "BirdVox-22min"
output_name = "_".join(["BirdVox-22min", taxon_row["taxon_id"], taxon_row["taxon_name"]]) + ".csv"
output_path = os.path.join(output_dir, output_name)

In [153]:
taxon_df

,Unnamed: 0,taxon_id,taxon_name,csv_name,minute,minute_count
0,0,1,Passerine,20150920233602_6_23_58_fold-unit05_utc-10h_wee...,109,41
1,1,2,Pelecaniforme,unit10_2015-09-27_dawn.csv,69,5
2,2,1.1,American sparrow,20151014225503_1_04_56_fold-unit05_utc-22h_wee...,28,43
3,3,1.2,Cardinal,20150920233602_6_23_58_fold-unit05_utc-10h_wee...,109,41
4,4,1.3,Thrush,20150910235403_6_05_57_fold-unit07_utc-10h_wee...,0,29
5,5,1.4,Warbler,20150925023412_1_25_48_fold-unit-01-10_utc-08h...,0,35
6,6,2.1,Heron,unit10_2015-09-27_dawn.csv,69,5
7,7,1.4.1,American redstart,20150827002103_5_38_57_fold-unit07_utc-10h_wee...,72,7
8,8,1.1.1,American tree sparrow,20151108222202_5_37_58_fold-unit08_utc-08h_wee...,101,11
9,9,1.4.2,Bay-breasted warbler,20150902001106_1_48_54_fold-unit03_utc-06h_wee...,45,12
10,10,1.4.3,Black-throated blue warbler,20150925023412_1_25_48_fold-unit-01-10_utc-08h...,0,35
11,11,1.4.4,Canada warbler,20150910235403_6_05_57_fold-unit07_utc-10h_wee...,0,29
12,12,1.1.2,Chipping sparrow,20151014225503_1_04_56_fold-unit05_utc-22h_wee...,28,43
13,13,1.4.5,Common yellowthroat,20150925023412_1_25_48_fold-unit-01-10_utc-08h...,0,35
14,14,1.3.1,Gray-cheeked thrush,20150920233602_6_23_58_fold-unit05_utc-10h_wee...,109,41
15,15,2.1.1,Green heron,unit10_2015-09-27_dawn.csv,69,5
16,16,1.4.6,Mourning warbler,unit03_2015-09-04_dawn.csv,108,42
17,17,1.4.7,Ovenbird,unit03_2015-09-04_dawn.csv,108,42
18,18,1.2.1,Rose-breasted grosbeak,20150920233602_6_23_58_fold-unit05_utc-10h_wee...,109,41
19,19,1.1.3,Savannah sparrow,20151008230503_2_54_57_fold-unit08_utc-06h_wee...,19,19
20,20,1.3.2,Swainson's thrush,unit02_2015-09-26_dawn.csv,117,49
21,21,1.1.4,White-throated sparrow,20151014225503_1_04_56_fold-unit05_utc-22h_wee...,28,43

In [141]:
import json
json_path = "../taxonomy.json"
with open(json_path, "r") as json_file:
    json_dicts= json.load(json_file)

In [142]:
json_dicts

{'taxonomy': [{'id': '1',
   'common_name': 'Passerine',
   'scientific_name': 'Passeriforme',
   'taxonomy_level_names': 'coarse',
   'taxonomy_level_aliases': {},
   'child_ids': ['1.4.1',
    '1.1.1',
    '1.4.2',
    '1.4.3',
    '1.4.4',
    '1.1.2',
    '1.4.5',
    '1.3.1',
    '1.4.6',
    '1.4.7',
    '1.2.1',
    '1.1.3',
    '1.3.2',
    '1.1.4']},
  {'id': '2',
   'common_name': 'Pelecaniforme',
   'scientific_name': 'Pelecaniforme',
   'taxonomy_level_names': 'coarse',
   'taxonomy_level_aliases': {},
   'child_ids': ['2.1.1']},
  {'id': '1.1',
   'common_name': 'American sparrow',
   'scientific_name': 'Passerellidae',
   'taxonomy_level_names': 'medium',
   'taxonomy_level_aliases': {},
   'child_ids': ['1.1.1', '1.1.2', '1.1.3', '1.1.4']},
  {'id': '1.2',
   'common_name': 'Cardinal',
   'scientific_name': 'Cardinalidae',
   'taxonomy_level_names': 'medium',
   'taxonomy_level_aliases': {},
   'child_ids': ['1.2.1']},
  {'id': '1.3',
   'common_name': 'Thrush',
   'scientific_name': 'Turdidae',
   'taxonomy_level_names': 'medium',
   'taxonomy_level_aliases': {},
   'child_ids': ['1.3.1', '1.3.2']},
  {'id': '1.4',
   'common_name': 'Warbler',
   'scientific_name': 'Parulidae',
   'taxonomy_level_names': 'medium',
   'taxonomy_level_aliases': {},
   'child_ids': ['1.4.1',
    '1.4.2',
    '1.4.3',
    '1.4.4',
    '1.4.5',
    '1.4.6',
    '1.4.7']},
  {'id': '2.1',
   'common_name': 'Heron',
   'scientific_name': 'Ardeidae',
   'taxonomy_level_names': 'medium',
   'taxonomy_level_aliases': {},
   'child_ids': ['2.1.1']},
  {'id': '1.4.1',
   'common_name': 'American redstart',
   'scientific_name': 'Setophaga ruticilla',
   'taxonomy_level_names': 'fine',
   'taxonomy_level_aliases': {'species_4letter_code': 'AMRE',
    'species_6letter_code': 'SETRUT',
    'ebird_code': 'amered'},
   'child_ids': []},
  {'id': '1.1.1',
   'common_name': 'American tree sparrow',
   'scientific_name': 'Spizelloides arborea',
   'taxonomy_level_names': 'fine',
   'taxonomy_level_aliases': {'species_4letter_code': 'ATSP',
    'species_6letter_code': 'SPIARB',
    'ebird_code': 'amtspa'},
   'child_ids': []},
  {'id': '1.4.2',
   'common_name': 'Bay-breasted warbler',
   'scientific_name': 'Setophaga castanea',
   'taxonomy_level_names': 'fine',
   'taxonomy_level_aliases': {'species_4letter_code': 'BBWA',
    'species_6letter_code': 'SETCAS',
    'ebird_code': 'babwar'},
   'child_ids': []},
  {'id': '1.4.3',
   'common_name': 'Black-throated blue warbler',
   'scientific_name': 'Setophaga caerulescens',
   'taxonomy_level_names': 'fine',
   'taxonomy_level_aliases': {'species_4letter_code': 'BTBW',
    'species_6letter_code': 'SETCAE',
    'ebird_code': 'btbwar'},
   'child_ids': []},
  {'id': '1.4.4',
   'common_name': 'Canada warbler',
   'scientific_name': 'Cardellina canadensis',
   'taxonomy_level_names': 'fine',
   'taxonomy_level_aliases': {'species_4letter_code': 'CAWA',
    'species_6letter_code': 'CADCAN',
    'ebird_code': 'canwar'},
   'child_ids': []},
  {'id': '1.1.2',
   'common_name': 'Chipping sparrow',
   'scientific_name': 'Spizella passerina',
   'taxonomy_level_names': 'fine',
   'taxonomy_level_aliases': {'species_4letter_code': 'CHSP',
    'species_6letter_code': 'SPIPAS',
    'ebird_code': 'chispa'},
   'child_ids': []},
  {'id': '1.4.5',
   'common_name': 'Common yellowthroat',
   'scientific_name': 'Geothlypis trichas',
   'taxonomy_level_names': 'fine',
   'taxonomy_level_aliases': {'species_4letter_code': 'COYE',
    'species_6letter_code': 'GEOTRI',
    'ebird_code': 'comyel'},
   'child_ids': []},
  {'id': '1.3.1',
   'common_name': 'Gray-cheeked thrush',
   'scientific_name': 'Catharus minimus',
   'taxonomy_level_names': 'fine',
   'taxonomy_level_aliases': {'species_4letter_code': 'GCTH',
    'species_6letter_code': 'CATMIN',
    'ebird_code': 'gycthr'},
   'child_ids': []},
  {'id': '2.1.1',
   'common_name': 'Green heron',
   'scientific_name': 'Butorides virescens',
   'taxonomy_level_names': 'fine',
   'taxonomy_level_aliases': {'species_4letter_code': 'GRHE',
    'species_6letter_code': 'BUTVIR',
    'ebird_code': 'grnher'},
   'child_ids': []},
  {'id': '1.4.6',
   'common_name': 'Mourning warbler',
   'scientific_name': 'Geothlypis philadelphia',
   'taxonomy_level_names': 'fine',
   'taxonomy_level_aliases': {'species_4letter_code': 'MOWA',
    'species_6letter_code': 'GEOPHI',
    'ebird_code': 'mouwar'},
   'child_ids': []},
  {'id': '1.4.7',
   'common_name': 'Ovenbird',
   'scientific_name': 'Seiurus aurocapilla',
   'taxonomy_level_names': 'fine',
   'taxonomy_level_aliases': {'species_4letter_code': 'OVEN',
    'species_6letter_code': 'SEIAUR',
    'ebird_code': 'ovenbi1'},
   'child_ids': []},
  {'id': '1.2.1',
   'common_name': 'Rose-breasted grosbeak',
   'scientific_name': 'Pheucticus ludovicianus',
   'taxonomy_level_names': 'fine',
   'taxonomy_level_aliases': {'species_4letter_code': 'RBGR',
    'species_6letter_code': 'PHELUD',
    'ebird_code': 'robgro'},
   'child_ids': []},
  {'id': '1.1.3',
   'common_name': 'Savannah sparrow',
   'scientific_name': 'Passerculus sandwichensis',
   'taxonomy_level_names': 'fine',
   'taxonomy_level_aliases': {'species_4letter_code': 'SAVS',
    'species_6letter_code': 'PASSAN',
    'ebird_code': 'savspa'},
   'child_ids': []},
  {'id': '1.3.2',
   'common_name': "Swainson's thrush",
   'scientific_name': 'Catharus ustulatus',
   'taxonomy_level_names': 'fine',
   'taxonomy_level_aliases': {'species_4letter_code': 'SWTH',
    'species_6letter_code': 'CATUST',
    'ebird_code': 'swathr'},
   'child_ids': []},
  {'id': '1.1.4',
   'common_name': 'White-throated sparrow',
   'scientific_name': 'Zonotrichia albicollis',
   'taxonomy_level_names': 'fine',
   'taxonomy_level_aliases': {'species_4letter_code': 'WTSP',
    'species_6letter_code': 'ZONALB',
    'ebird_code': 'whtspa'},
   'child_ids': []}],
 'output_encoding': {'coarse': [{'ids': ['1']}, {'ids': ['0', '2']}],
  'medium': [{'ids': ['1.1']},
   {'ids': ['1.2']},
   {'ids': ['1.3']},
   {'ids': ['1.4']},
   {'ids': ['0', '2', '1.0']}],
  'fine': [{'ids': ['1.4.1']},
   {'ids': ['1.1.1']},
   {'ids': ['1.4.2']},
   {'ids': ['1.4.3']},
   {'ids': ['1.4.4']},
   {'ids': ['1.1.2']},
   {'ids': ['1.4.5']},
   {'ids': ['1.3.1']},
   {'ids': ['1.4.6']},
   {'ids': ['1.4.7']},
   {'ids': ['1.2.1']},
   {'ids': ['1.1.3']},
   {'ids': ['1.3.2']},
   {'ids': ['1.1.4']},
   {'ids': ['0', '2', '1.0', '1.1.0', '1.2.0', '1.3.0', '1.4.0']}]}}